<!-- name, a price, a list of its materials, and a link back to the original listing. -->
<h1>Etsy Search</h1>
<%= form_tag('/', method: 'get') do %>
  <%= search_field_tag('query') %>
  <%= submit_tag("Keyword Search") %>
<% end %>
<ul>
  <% @items.each do |item| %>
    <li>Item Name: <%= item["title"] %><br />
        Price: <%= item["price"] %><br />
        Materials: <%= item["materials"]%> <br />
        <a href='<%= item["url"] %>' > Item url </a>

<!--       <img src='<%= item["thumbnailImage"] %>' />
      <div class='price'>
        Price: <strong>$<%= item["salePrice"] %></strong>
        <%= "$#{item["msrp"]}" if item ["msrp"] %>
        <% if item["salePrice"].to_i < item["msrp"].to_i %>
          <br/><small>Wow! What savings~!</small>
          <% end %>
      </div>
      <p><%= item["shortDescription"] %></p> -->
    </li>
    <% end %>
</ul>
